*{margin:0px; padding : 0px;}
table{
    width:500px;
    padding: 10px 10px;
}

.t_row{
    width: 15px;
    padding : 10px;
}
t_th_tr th{
    align-items: center;
}
t_td_tr td{
    padding: 10px 10px;
}
/* 
id # 
class .

margin
    border
        padding
*/
